body{
	color: #00FF00;
	background: #000000;
	font-family: "Courier New", Times, monospace;
}
form{

}

.left{
	position: absolute;
	width: 25%;
}
.right{
	position: absolute;
	padding-left: 75%;
	width: 25%;

}

.center{
	position: absolute;
	padding-left: 25%;
	width: 50%;
	z-index: 1;

}
#frog_on_wheels{
	left:10%;
	width: 50%;
	height: 40%;
	position: absolute;
	top: 30%;
	z-index: 1;
}

#school_dropout{
	position: absolute;
	top: 150px;
	z-index: 1;
	left:450px;
}
