<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<meta charset="utf-8">
		<title>SCHOOL TESTING SYSTEM</title>

		<link rel="stylesheet" type="text/css" href="{% static 'css/school_testing_system.css' %}">
	</head>
	<body>
		<div class = 'left'>
			<img src = "https://media.giphy.com/media/dSrdpVFhMhXoI/giphy.gif"> <br>
			<img src = "https://media.giphy.com/media/dSrdpVFhMhXoI/giphy.gif">
		</div>
		<div align = center class = 'center'>
			<p align="center"><img align="center" src="http://www.picgifs.com/glitter-gifs/w/welcome/picgifs-welcome-4121646.gif"></p>
			<br> <img id = "frog_on_wheels" src = "https://vignette.wikia.nocookie.net/steven-universe/images/9/9a/Dat_boi.gif/revision/latest?cb=20160716123916">
			<p align="center">Ура, это страница с задачами</p>
			<p align="center"><img align = "center" src="https://media1.tenor.com/images/6f8d7d000f7c7bb14cc71237357f855d/tenor.gif?itemid=5049336"> </p>

			<p align="center">Зарегистрироваться можно <a href="register" style="color:#FF00FF">здесь</a></p>
			<p align="center">Войти под существующим логином и паролем можно <a href="login" style="color:#FF00FF">здесь</a></p>
			<p align="center">Посмотреть список задач можно <a href="tasks_list" style="color:#FF00FF">здесь</a></p>
		</div>
		<div class = 'right'>
			<img src = "https://media.giphy.com/media/dSrdpVFhMhXoI/giphy.gif"> <br>
			<img src = "https://media.giphy.com/media/dSrdpVFhMhXoI/giphy.gif">
		</div>
	</body>
	<script src="{% static 'js/onload.js' %}"></script>
</html>
